.scene1 rect {
  fill: steelblue;
}

.scene1 .x-axis {
  padding-bottom: 100px;
}

path {
  stroke: black;
}

.annotation-group {
  font-size: x-small;
}

.toolTip {
  position: absolute;
  visibility: hidden;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6f257f;
  padding: 10px;
  text-align: center;
  font-size: x-small;
  z-index: 1;
  width: 100px;
  margin-bottom: 0;
}

.toolTip p {
  margin-bottom: 0px;
}
